@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
:root{
    --primary-color: #0A0A23;
    --secondary-color: #1B1B32;
    --third-color: #fafbfc;
}

body{
    font-family: 'Lato',
    sans-serif;
    margin: auto;
    
}
/**common to every html**/
.navigation{
    margin: auto;
    text-align: left;
    background-color: var(--primary-color);
    padding: 3rem 2rem;
    
}
.navigation a{
    color: var(--third-color);
   
    font-size: 1.3rem;
    font-weight: medium;
    text-decoration: none;
    margin: 0.5rem;
    

    
}
p{
    font-size: large;
    text-align: center;
}

.container{
   margin: auto;
   background-color: var(--secondary-color);
   color: var(--third-color);
   padding: 2rem;

}

input,label{
    
    display: block;
    text-align:center;

}
input{
    margin: 0.5rem auto;
    padding: 0.5rem 0.5rem;
}

#submit-button{
    display: block;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    color: var(--third-color);
    margin: 1rem auto;
    border-color: var(--third-color);
}

/** calculate area css **/

#submit-btn {
    display: block;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    color: var(--third-color);
    margin: 1rem auto;
    border-color: var(--third-color);
}